<center><h1>Contract Monthly Claims</h1></center>

<div class="container">
    <header class="text-center">
        <h1>Welcome to the Contract Monthly Claim System (CMCS)</h1>
        <p class="lead">Effortlessly manage monthly claims for Independent Contractor lecturers.</p>
       <a href="learnmore.cshtml" class="btn btn-primary mt-20">Learn More</a>
    </header>

   
