html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d6d6d2;
}

/* Headings */
h1, h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

/* Form Styles */
form {
    background-color: #d2d6d6;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

    form div {
        margin-bottom: 15px;
    }

    form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #34495e;
    }

    form input, form select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

button {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #2980b9;
    }

/* Page Layout for Contract Monthly Claims Section */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

header h1 {
    font-size: 32px;
    color: #34495e;
}

header p.lead {
    font-size: 18px;
    color: #7f8c8d;
    margin-bottom: 20px;
}

.btn {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

    .btn:hover {
        background-color: #c0392b;
    }

.mt-20 {
    margin-top: 20px;
}

section h2 {
    font-size: 28px;
    color: #34495e;
}

section p, section ul {
    color: #7f8c8d;
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer p {
    margin: 0;
}
